<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>List Products</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

  <div>
    <span th:if="${errorMessage}" th:text="${errorMessage}"></span>
</div>
<div class="container text-center">
  <div>
    <h1>Cart</h1>
  </div>

  <form th:action="@{/add_to_cart}" th:object="${listProducts}"
        method="post" style="max-width: 600px; margin: 0 auto;">
  <div>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Image</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${listProducts} ">
          <td th:text="${product.name}">Name</td>
          <td th:text="${product.description}">Description</td>
          <td th:text="${product.price}">Price</td>
          <td><img th:src="${product.image}" alt="" height=100 width=100></td>
          <td th:text="${product.getQuantity()}">Quantity</td>
        </tr>
        </tbody>
      </table>
  </div>
  </form>
</div>
<div>
  <h1>Total</h1>
  <h1 th:text = "${total}">Total</h1>

  <h1>Wallet</h1>
  <h1 th:text = "${wallet}">Total</h1>
</div>
<a href="/check-out">
  <button class="btn btn-primary btn-lg">Check Out</button>
</a>

<a href="/">
  <button class="btn btn-primary btn-lg">Continue Shopping</button>
</a>


<!--<a href="/deleteProductfromCart">-->
<!--  <button class="btn btn-primary btn-lg">Delete</button>-->
<!--</a>-->
</body>
</html>