<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
<title>Main Page</title>
<style>
    .container{
        height: 200px;
        width: 500px;
        border: 2px solid black;
        margin-top: 30px;
    }
</style>
</head>
<body>
<div class="container">
    <h1 style="text-align:center;">Main Page</h1>
    <a href="/signin">
        <button class="btn btn-primary btn-lg">Log In</button>
    </a>
    <a href="/signup">
        <button class="btn btn-primary btn-lg">Sign Up (Only for Customers)</button>
    </a>
</div>
</body>
</html>